{% extends 'base.html' %}
{% block content %}


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Roll Number</th>
      <th scope="col">Student Name</th>
      <th scope="col">Father Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Addmission Date</th>
      <th scope="col">Promised Date</th>
    </tr>
  </thead>
  <tbody>
  {% for d in data %}
    <tr>
      <th scope="row">{{d.roll_number}}</th>
      <td>{{d.name}}</td>
      <td>{{d.father_name}}</td>
      <td>{{d.DOB}}</td>
      <th scope="row">{{d.address}}</th>
      <td>{{d.phone}}</td>
      <td>{{d.addmission_date}}</td>
      <td>{{d.promised_fee}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}